body {
    background: url(wall.jpg) repeat;
    color: #fff;
    font-family: Verdana, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    text-align: center;
}
#dartboard-wrapper {
    text-align: center;
}
#s path:hover, #d path:hover, #t path:hover, #bull path:hover, #bull circle:hover {
    fill: #990066;
    cursor: pointer;
}
.panel-wrapper {
    display: flex;
}
.scores {
    flex: 1;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    color: #000;
    border-radius: 4px;
}
.target {
    flex: 3;
}
.btn {
    background: #ffffff;
    color: #212121;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
}
.btn:hover, .btn:focus {
    background: #ccc;
}
.btn:active {
    background: #999;
}
.action {
    color: darkred;
    cursor: pointer;
}
#messager {
    position: fixed;
    width: 100%;
    height: 50px;
    background: #515151;
    font-family: monospace;
    bottom: 0;
    left: 0;
}
#messager p {
    margin-left: 20px;
}
input[type=text] {
    border: transparent;
    border-radius: 4px;
    padding: 10px 20px;
    box-shadow: -1px 1px 3px 1px rgba(0, 0, 0, 0.3) inset;
}
input[type=text]:hover, input[type=text]:focus {
    box-shadow: -1px 1px 7px 1px rgba(0, 0, 0, 0.3) inset;
}
#darts-left {
    list-style-type: none;
    padding-left: 0;
}
#darts-left li {
    display: inline-block;
    width: 64px;
    margin-right: 20px;
}
#darts-left li img {
    max-width: 100%;
}

#launcher {
    position: fixed;
    bottom: 60px;
    right: 30px;
    background: #212121;
    border-radius: 6px;
    width: 300px;
    height: 300px;
    display: none;
}
#launcher.visible {
    display: block;
}
#axe-y {
    position: absolute;
    width: 4px;
    height: 300px;
    background: #fff;
    left: 50%;
    margin-left: -2px;
}
#arrow-y {
    position: absolute;
    bottom: 0;
    left: 4px;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 12px solid darkred;
    transition: all 100ms;
}
#axe-x {
    position: absolute;
    width: 300px;
    height: 4px;
    background: #fff;
    top: 50%;
    margin-top: -2px;
}
#arrow-x {
    position: absolute;
    left: 0;
    top: 4px;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid darkred;
    transition: all 100ms;
}
